@font-face {
  font-family: 'Inika';
  src: url("assets/fonts/Inika-Regular.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-Regular.ttf");
  font-weight: 100;
}

html {
  scroll-behavior: smooth; 
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 3870px;
}

.header {
  height: 134px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Inika';
  font-size: 16px;
  background-color: #EDF2EC;
  width: 100%;
}

.headerContent {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 84.722%;
}

.headerLogo {
  display: flex;
}

.headerLogoPicture {
  margin-bottom: 10px;
}

.headerLogoName {
  display: flex;
  list-style: none;
  padding-top: 6.5px;
  align-content: flex-start;
}

.headerNav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 452px;
  padding-left: 0px;
  margin: 0px;
}

.headerNavLink {
  text-decoration: none;
  color: #010201;
}

.headerNavLink:hover {
  color: #E06733;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home {
  height: 532px;
  background-color: #EDF2EC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.homeText {
  width: 38.125%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 69.549%;
}

.homeLeafs {
  width: 31.167%;
}

.homeHeader {
  color: #717171;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin: 0;
}

.homeHighlighting {
  color: #499A18;
}

.homeDescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.homeLearnMore {
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: #EDF2EC;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.homeLearnMore:hover {
  color: #EDF2EC;
  background-color: #E06733
}

.aboutUs {
  height: 666px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.aboutUsHeader {
  color: #499A18;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  width: 43.056%;
  padding-left: 25px;
}

.aboutUsHighlighting {
  color: #E06733;
  padding: 0;
}

.aboutUsDescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  width: 43.056%;
  padding-left: 25px;
  margin-top: 4px;
}

.aboutUsHousePlant {
  padding-right: 25px;
}

.service {
  height: 1300px;
  background-color: #EDF2EC;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.serviceTop {
  width: 84.861%;
  display: flex;
  flex-direction: row;
}

.serviceHeader {
  width: 446px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.serviceButtons {
  width: 559px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.serviceButton {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #EDF2EC;
  margin-top: 6px;
  margin-left: 2px;
}

.serviceButton:hover {
  color: #EDF2EC;
  background-color: #E06733
}

.serviceBottom {
  width: 84.861%;
  height: 1055px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  padding-top: 41px;
}

.firstPic {
  width: 330px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 0 0;
}

.secondPic {
  width: 330px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 0 0;
}

.thirdPic {
  width: 330px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 0 0;
}

.fourthPic {
  width: 330px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 0 0;
}

.fifthPic {
  width: 330px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 0 0;
}
.sixPic {
  width: 330px;
  height: 350px;
  object-fit: cover;
  border: 1px solid #E3E1D5;
  border-radius: 20px 20px 0 0;
}

h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
  margin-top: 10px;
  margin-bottom: 13px;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin: 0;
}

.serviceCard {
  width: 330px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.serviceCardDescription {
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  height: 100px;
}

.price {
  height: 560px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.priceContent {
  width: 84.861%;
  height: 405px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.priceLeft {
  height: 560px;
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-top: 40px;
}

.priceRates {
  width: 332px;
  height: 282px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
}

.priceRateButton {
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border: 0;
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.priceRateButtonEdit {
  justify-content: space-between;
  padding: 0 40px;
}

.priceRight {
  display: flex;
  flex-direction: column;
  width: 452px;
  height: 560px;
  align-items: flex-end;
  margin-top: 1px;
}

.priceHeader {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-align: end;
}

.priceHeaderHighlighting {
  color: #499A18;
}

.priceContactButton {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.priceContactButton:hover {
  color: #EDF2EC;
  background-color: #E06733
}

.priceLeafs {
  margin-top: 41px;
}

.contacts {
  height: 550px;
  background-color: #EDF2EC;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contactsWoman {
  display: flex;
  margin-top: 52px;
  height: 497px;
  width: 400px;
  margin-left: 55px;
}

h6 {
  display: flex;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-top: 59px;
  margin-right: -45px;
}

.contactsCityButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 31.25%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  border: 0;
  padding-left: 20px;
  padding-right: 35px;
  margin-top: 147px;
  margin-right: 56px;
}

.footer {
  height: 3.359%;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  padding-bottom: 1px;
  width: 100%;
}

.footerContent {
  width: 84.722%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  width: 168px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.footerMiddle {
  width: 227px;
  height: 50px;
  padding-left: 18px;
}

.footerRight {
  cursor: pointer;
  display: flex;
  width: 188px;
  height: 50px;
  justify-content: space-between;
  padding-left: 1px;
}

.footerSocialNetworks {
  display: flex;
  align-items: center;
}

@media (max-width: 885px) {
  .aboutUsHousePlant {
    width: 185.6px;
    height: 191.6px;
  }
}
@media (max-width: 768px) {
  body {
    height: 4605px;
    width: 768px;
    justify-content: flex-start;
  }
  main {
    height: 4307px;
  }
  .header {
    max-height: 117px;
    height: 117px;
    width: 768px;
  }
  .headerContent {
    width: 668px;
  }
  .headerNav {
    line-height: 50px;
  }
  .home {
    max-height: 420px;
    height: 420px;
    align-items: center;
    padding: 0 20px;
    width: 768px;
  }
  .homeText {
    order: -1;
    width: 45.052%;
    height: 310px;
    justify-content: space-between;
    margin-top: -35px;
  }
  .homeLeafs {
    width: 36.458%;
    margin-top: -70px;
  }
  .homeHeader {
    font-size: 35px;
  }
  .homeDescription {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
  }
  .homeLearnMore {
    margin-left: -3px;
  }
  .aboutUs {
    max-height: 783px;
    height: 783px;
    justify-content: space-around;
    width: 768px;
    flex-direction: row;
  }
  .aboutUsHeader {
    font-size: 35px;
    line-height: 46px;
    margin-top: 35px;
    padding: 0;
    text-align: center;
    width: 768px;
  }
  .aboutUsDescription {
    padding: 0;
    padding-bottom: 30px;
    width: 668px;
  }
  .aboutUsHousePlant{
    height: 258px;
    width: 250px;
    padding: 0;
    margin-bottom: 90px;
    visibility: visible;
    position: relative;
  }
  .service {
    max-height: 1780px;
    height: 1780px;
    width: 768px;
  }
  .serviceTop {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 96px;
    width: 768px;
    margin-top: 25px;
  }
  .serviceHeader {
    font-size: 35px;
    line-height: 46px;
  }
  .serviceBottom {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1504px;
    width: 768px;
  }
  .serviceCardDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .firstPic {
    width: 280px;
  }
  .secondPic {
    width: 280px;
  }
  
  .thirdPic {
    width: 280px;
  }
  
  .fourthPic {
    width: 280px;
  }
  
  .fifthPic {
    width: 280px;
  }
  .sixPic {
    width: 280px;
  }
  .serviceCard {
    width: 280px;
  }
  h3 {
    width: 210px;
  }
  .price {
    max-height: 585px;
    height: 585px;
    width: 768px;
  }
  .priceContent {
    justify-content: space-around;
    width: 668px;
  }
  .priceLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .priceRates {
    margin-top: 2px;
  }
  .priceRight {
    justify-content: space-between;
    width: 358px;
    height: 358px;
  }
  h4 {
    margin-top: 24px;
    margin-left: 14px;
  }
  .priceHeader {
    font-size: 25px;
    line-height: 35px;
  }
  .priceContactButton {
    line-height: 48px;
    margin-top: 4px;
  }
  .priceLeafs {
    width: 152px;
  }
  .contacts {
    max-height: 739px;
    height: 739px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 768px;
  }
  h6 {
    order: -1;
    margin: 40px 0 0 0;
  }
  .contactsCityButton {
    order: 0;
    margin: -100px 0 0 0;
    width: 450px;
  }
  .contactsWoman {
    order: 1;
    width: 200px;
    height: 248.49px;
    margin-left: 20px;
  }
  .footer {
    max-height: 181px;
    height: 181px;
    justify-content: center;
    line-height: 24px;
    width: 768px;
  }
  .footerContent {
    flex-direction: column;
    height: 181px;
    justify-content: center;
  }
  .footerLeft {
    padding: 17px 0 0 0;
  }
  .footerMiddle {
    padding: 7px 0 0 7px;
  }
  .footerSocialNetworks {
    margin-bottom: 3px;
  }
}

#menu__toggle {
  visibility: hidden;
  position: absolute;
}
.burgerIcon {
  visibility: hidden;
  position: absolute;
}

@media (max-width: 380px) {
  body {
    height: 5165px;
    width: 380px;
  }
  main {
    height: 4923px;
  }
  .header {
    max-height: 96px;
    height: 96px;
    max-width: 380px;
  }
  .burgerIcon {
    visibility: visible;
    position: fixed;
    top: 34px;
    left: 315px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    position: fixed;
    cursor: pointer;
    z-index: 1;
  }
  .headerLogo {
    padding: 6px 0 0 25px;
  }
  .headerNav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    background-color: #EDF2EC;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .headerNavLink {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 25px;
    text-decoration: none;
  }
  .headerNavLink:hover {
    background-color: #ffffff;
  }
  #menu__toggle:checked ~ .headerNav {
    visibility: visible;
    left: 0;
  }
  .headerNav {
    transition-duration: .25s;
  }
  .headerNavLink {
    transition-duration: .25s;
  }
  .home {
    width: 380px;
    height: 300px;
  }
  .homeLeafs {
    position: absolute;
    visibility: hidden;
  }
  .homeText {
    width: 380px;
    height: 300px;
    margin: 0;
    padding: 16px 0 12px 5px;;
    justify-content: space-around;
  }
  .homeHeader {
    font-size: 25px;
    line-height: 35px;
  }
  .homeLearnMore {
    width: 100px;
    height: 34.14px;
    font-size: 10px;
    line-height: 20px;
    margin: 0;
  }
  .homeDescription {
    margin-bottom: 3px;
  }
  .aboutUs {
    width: 380px;
    height: 516px;
    margin: 0;
    padding: 0;
  }
  .aboutUsHeader {
    width: 380px;
    font-size: 25px;
    line-height: 33px;
    margin: 24px 0 0 0;
  }
  .aboutUsHousePlant {
    width: 150px;
    height: 147px;
    margin: -24px 0 24px 0;
    padding: 0;
  }
  .aboutUsDescription {
    width: 330px;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 12px 0;
    padding: 0;
  }
  .service {
    width: 380px;
    height: 3150px;
    max-height: 3150px;
  }
  .serviceTop {
    width: 330px;
    padding: 0;
    margin: 0;
    height: 220px;
    margin-bottom: 33px;
  }
  .serviceHeader {
    font-size: 25px;
    line-height: 33px;
    margin-top: 30px;
  }
  .serviceButtons {
    flex-wrap: wrap;
    width: 252px;
    margin-bottom: 5px;
  }
  .serviceButton {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }
  .serviceBottom {
    width: 280px;
    height: 2870px;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  h2{
    margin-top: 8px;
  }
  h3{
    margin-top: -2px;
  }
  .price {
    width: 380px;
    height: 512px;
    justify-content: flex-start;
    flex-direction: column;
  }
  .priceContent {
    width: 380px;
    height: 447px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 26px;
  }
  .priceLeft {
    height: 302px;
    width: 380px;
    align-items: center;
    justify-content: space-between;
  }
  h4 {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    text-align: center;
  }
  .priceRates {
    width: 224px;
    height: 235px;
    margin: 0;
    justify-content: space-between;
    padding: 29px 22px;
  }
  .priceRateButton {
    width: 180px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
    justify-content: space-between;
    padding: 3px 39px 0 30px;
  }
  .priceRateButtonEdit {
    padding: 3px 39px 0 30px;
  }
  .priceRight {
    width: 380px;
    height: 126px;
    margin: 0;
    align-items: center;
  }
  .priceHeader {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    width: 230px;
  }
  .priceContactButton {
    font-size: 15px;
    line-height: 20px;
    width: 121px;
    height: 35px;
  }
  .priceLeafs {
    visibility: hidden;
    position: absolute;
    width: 10px;
    height: 10px;
  }
  .contacts {
    width: 380px;
    height: 445px;
  }
  h6 {
    font-size: 25px;
    line-height: 33px;
    margin-top: 26px;
    margin-right: 2px;
  }
  .contactsCityButton {
    width: 300px;
    height: 50px;
    margin: 0 2px 0px 0;
    padding: 0 20px;
  }
  .contactsWoman {
    width: 100px;
    height: 124.25px;
    margin-right: 4px;
    margin-left: 0;
  }
  .footer {
    width: 380px;
    height: 146px;
  }
  .footerContent {
    width: 380px;
    height: 146px;
  }
  .footerLeft {
    padding: 22px 0 0 0;
  }
  .footerMiddle {
    padding: 14px 0 0 9px;
  }
  .footerRight {
    padding: 0 0 9px 0;
  }
}